{% load static mezzanine_tags %}
<div class="row {{ section }}">
    {% for page in articles %}
      <div class="col-md-3">
        <div class="box">
          <figure>
            <img class="img-responsive" src="{% get_media_prefix %}{% thumbnail page.article.cover 218 213  %}" alt="{{ page.title }}" />
            <figcaption></figcaption>
          </figure>
          <div class="title-gallery">
            <a href="{{page.get_absolute_url}}" class="more">
              {{ page.title }}
              <p class="figcaption">
                 {{page.description|striptags}}
              </p>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}      
</div>
